@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font: Inter, -apple-system, sans-serif;

// colors
$background-color: #F5F3EE;
$light-blue: #CCDDF6;
$dark-blue: #1C4A90;
$green: #1C4F4A;
$black: #232323;

$western-blue: #464245;
$western-orange: #CB6F38;

$box-shadow-interactive: 9px 10px 11px -12px #0000001A;
$component-border-radius: 11px;